__pycache__/
musikcube/.config/musikcube/1/
musikcube/.config/musikcube/cache/
musikcube/.config/musikcube/log.txt
musikcube/.config/musikcube/stderr.txt
musikcube/.config/musikcube/playback.json
musikcube/.config/musikcube/session.json
bin/.local/bin/ipython
bin/.local/bin/ipython3
bin/.local/bin/jsonpointer
bin/.local/bin/jupyter
bin/.local/bin/jupyter-bundlerextension
bin/.local/bin/jupyter-console
bin/.local/bin/jupyter-kernelspec
bin/.local/bin/jupyter-kernel
bin/.local/bin/jupyter-execute
bin/.local/bin/jupyter-events
bin/.local/bin/jupyter-dejavu
bin/.local/bin/jupyter-migrate
bin/.local/bin/jupyter-nbclassic
bin/.local/bin/jupyter-nbclassic-bundlerextension
bin/.local/bin/jupyter-nbclassic-extension
bin/.local/bin/jupyter-nbclassic-serverextension
bin/.local/bin/jupyter-nbconvert
bin/.local/bin/jupyter-nbextension
bin/.local/bin/jupyter-notebook
bin/.local/bin/jupyter-qtconsole
bin/.local/bin/jupyter-run
bin/.local/bin/jupyter-server
bin/.local/bin/jupyter-serverextension
bin/.local/bin/jupyter-troubleshoot
bin/.local/bin/jupyter-trust
bin/.local/bin/qtpy
bin/.local/bin/send2trash
bin/.local/bin/spotdl
bin/.local/bin/wsdump
musikcube/.config/musikcube/plugin_portaudioioutput.json
icons/.local/share/icons/hicolor/scalable/apps/notebook.svg
icons/.local/share/icons/hicolor/scalable/apps/nbclassic.svg
lazygit/.config/lazygit/state.yml
lazygit/.config/lazygit/state.yml
bin/.local/bin/trash
bin/.local/bin/trash-empty
bin/.local/bin/trash-list
bin/.local/bin/trash-put
bin/.local/bin/trash-restore
bin/.local/bin/trash-rm
btop/.config/btop/btop.log
bin/.local/bin/uv
bin/.local/bin/uvx
bin/.local/bin/autotiling
bin/.local/bin/dmypy
bin/.local/bin/mypy
bin/.local/bin/mypyc
bin/.local/bin/pywayland-scanner
bin/.local/bin/qtile
bin/.local/bin/stubgen
bin/.local/bin/stubtest
bin/.local/bin/pip
bin/.local/bin/pip3
bin/.local/bin/pip3.13
bin/.local/bin/pulsemixer
bin/.local/bin/posting
bin/.local/bin/poetry
bin/.local/bin/lovr
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/lazy-lock.json
