
/* colors */

* {
  al:  #00000000;
  bg:  #202020;
  bga: #4b4b66;
  bl:  #0FBDBD;
  fg:  #dfdfdf;
  ac:  #ec2864;
  gr:  #9ece6a;
  ye:  #e0af68;
  or:  #ff9e64;
  purp:#bb9af7;
  cy:  #2ac3de;
}

