/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */
@import "mocha.css";
/*
Arc-Dark Color Scheme
*/

@keyframes blink-warning {
    70% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @peach;
    }
}

@keyframes blink-critical {
    70% {
      color: @text;
    }

    to {
        color: @text;
        background-color: @red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: @text;
    background-color: @mantle;
    font-family: "BlexMono Nerd Font";
    font-size: 14px;
}

/* Every modules */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-PBPbattery {
    padding:0.5rem 0.6rem;
    margin: 1px 0px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#idle_inhibitor.activated {
	color: @green;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.good {
	color: @green;
}

#battery.charging {
	color: @yellow;
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: @peach;
}

#cpu.critical {
    color: @red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @peach;
 }

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#mode {
    color: @blue;
    margin-left: 5px;
		font-weight: bold;
}

#network.disconnected {
    color: @peach;
}

#pulseaudio {
    padding-top:6px;
}

#pulseaudio.muted {
    color: @subtext0;
}

#temperature.critical {
    color: red;
}

#window {
    font-weight: bold;
}

#workspaces button {
	border-radius: 5px;
}

#workspaces button:hover {
	color: @mauve;
}

#workspaces button.focused {
	color: @sapphire;
}

#workspaces button.urgent {
    border-color: @maroon;
    color: @maroon;
}

#custom-power {
    margin-left:5px;
    margin-right:15px;
    font-size:15px;
		color: @red;
}

#custom-notification {
		margin-left: 5px;
		margin-right: 10px;
		color: @subtext0;
}

#custom-dropdown {
    font-size:15px;
    margin-left:15px;
    margin-right:10px;
}

#custom-audio_idle_inhibitor {
		color: @green;
}

#backlight.icon {
    padding-right:1px;
    font-size: 13px;
}

#keyboard-state label.locked {
	color: @green;
}
