# App rules
## floating
for_window [app_id="com.nextcloud.desktopclient.nextcloud"] floating enable
for_window [app_id="wdisplays"] floating enable
for_window [app_id="UpdateInTerminal"] floating enable
for_window [app_id="vimiv"] floating enable
for_window [app_id="nmtui"] floating enable, border normal
for_window [app_id="gcolor3"] floating enable
for_window [class="Lxappearance"] floating enable
for_window [class="Kvantum Manager"] floating enable
for_window [app_id="pulsemixer"] floating enable, border normal
for_window [app_id="harmonoid"] floating enable
# fullscreen
for_window [class="Waydroid"] fullscreen enable
## workspace
assign [app_id="kitty"] 1
assign [app_id="Alacritty"] 1
assign [class="Code"] 2
assign [class="VSCodium"] 2
assign [class="DesktopEditors"] 2
assign [class="harmonoid"] 2
assign [app_id="com.stremio.stremio"] 3
assign [app_id="wdisplays"] 4
assign [class="Lxappearance"] 4
assign [class="Kvantum Manager"] 4
assign [app_id="nemo"] 4
assign [app_id="Waydroid"] 5
## follow
for_window [app_id="kitty"] focus
for_window [app_id="Alacritty"] focus
for_window [class="Code"] focus
for_window [class="VSCodium"] focus


